@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

body {
  height: 100vh;
  background-image: url("https://cdn.discordapp.com/attachments/834458081546076170/889088403679895572/photo-1499019963077-ab9127ab9596.jfif");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
  transition: all 1s;
  animation: moveRight 1s ease-in-out;
}

h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem 0;
  font-weight: 400;
  color: rgb(255, 137, 6);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.active {
  font-weight: 700;
  text-shadow: none;
}

.nav-link:hover {
  color: rgb(255, 137, 6);
  text-shadow: 0 0.6rem 0.7rem rgb(255, 137, 6, 0.9);
}

.nav-link.active {
  color: white;
  border-bottom-color: rgb(255, 137, 6);
}

.btn-secondary {
  background-color: rgb(255, 137, 6);
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  margin-top: 1rem;
  transition: all 0.3s;
}

.btn-secondary:hover {
  color: aliceblue;
  text-shadow: none;
  background-color: rgb(255, 137, 6);
  box-shadow: 0 1rem 1.5rem rgba(255, 137, 6, 0.7);
  transform: translateY(-0.2rem);
}

.btn-secondary:active {
  color: aliceblue;
  text-shadow: none;
  background-color: rgb(255, 137, 6);
  box-shadow: 0 0.6rem 0.7rem rgba(255, 137, 6, 0.7);
  transform: translateY(0);
}

@keyframes moveRight {
  0% {
    transform: translateX(-3rem);
  }

  100% {
    transform: translateX(0);
  }
}
